

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(195, 189, 182);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: aliceblue;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
width: 44px;
padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
.container{
    min-height: 75vh;
    background-color: black;
    color: aliceblue;
    font-family:  'Varela Round',  sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 32px;
background-image: url("bg.jpg");
}
.buttom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 15px;
}
.icons i {
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;

}
.songitem{
    height: 50px;
    display: flex;
    background-color: aliceblue;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songitem img{
width: 50px;
height:  0 23px;
}
